PROXY_ENDPOINT=rpcs://proxy.iriswallet.com/0.2/json-rpc
INDEXER_URL=tcp://electrum.rgbtools.org:50041
NETWORK=3
RLN_NODE_URL=http://localhost:3000
RLN_NODE_TOKEN=''
RLN_ASSET_ID=rgb:CJkb4YZw-jRiz2sk-~PARPio-wtVYI1c-XAEYCqO-wTfvRZ8
RLN_LSP_PEER=03b79a4bc1ec365524b4fab9a39eb133753646babb5a1da5c4bc94c53110b7795d@localhost:9736